
@{
    ViewData["Title"] = "Market";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center">Renewable Energy Products</h1>
    <p class="text-center mb-5">Discover the Green Energy Marketplace, your gateway to sustainable agricultural solutions. Explore a range of innovative products designed specifically to meet the energy needs of your farm. From solar-powered irrigation systems to wind turbines and biogas energy solutions, find the tools to make your farm more sustainable and efficient.</p>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="~/Images/Solar-Powered Irrigation System.jpeg" class="card-img-top" alt="Solar-Powered Irrigation">
                <div class="card-body text-center">
                    <h5 class="card-title">Solar-Powered Irrigation System</h5>
                    <p class="card-text">Optimize crop irrigation with Solar-Powered Irrigation System.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="~/Images/Wind Turbins Energy Systems.jpeg" class="card-img-top" alt="Wind Turbine">
                <div class="card-body text-center">
                    <h5 class="card-title">Wind Turbines for Farms</h5>
                    <p class="card-text">Elevate your farm's sustainability with Wind Energy Technologies.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="~/Images/Biogas Renewable Energy Solutions.jpeg" class="card-img-top" alt="Biogas Energy">
                <div class="card-body text-center">
                    <h5 class="card-title">Biogas Energy Solutions</h5>
                    <p class="card-text">Produce Renewable Energy From Orgainic Waste</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

    </div>
</div>

